


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 3rem;
}


.expertise-content{
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
}


.expertise-header {
    text-align: center;
    padding-bottom: 4px;    
}

.expertise-content .skills {
    display: flex;
    border-bottom: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height:25px;
    gap: 1.5rem;
}
.skills p{
    padding: 1.25rem;
}

.expertise img {
    height: 3rem;
    aspect-ratio: 1/1;
}

.expertise-content .b-bottom-right {
    border-bottom: 1px solid rgb(40, 39, 39);
    border-right: 1px solid rgb(40, 39, 39);
}
.expertise-content .b-right {
    border-bottom: 1px solid rgb(40, 39, 39);
    border-right: 1px solid rgb(40, 39, 39);
}
.expertise-content .b-bottom {
    border-bottom: 1px solid rgb(40, 39, 39);
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.team {
    background-image: url(./resources/images/bgk-header.png);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-wrapper {
    display: flex;
    gap: 2rem;
}

.members {
    height: 20rem;
    width: 14rem;

}

.img-placeholder {
    width: 100%;
    height: 100%;
    background-color: white;
}

